* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Otomanopee One", Arial, Helvetica, sans-serif;
}
.header {
  background-color: white;
  padding: 40px;
  margin: 0px;
  height: 300px;
  text-align: center;
  font-size: 25px;  
}
.topnavbar {
  overflow: hidden;
  background-color: #99ffeb;
  position: -webkit-sticky; /* for Safari browser */
  position: sticky;
  top: 0;
}
.topnavbar a {
  float: left;
  display: block;
  text-decoration: none;
  color: #000;
  padding: 25px 20px;
  text-align: center;
  overflow: hidden;
}
.topnavbar a:hover {
  cursor: pointer;
  background-color: #00b38f;
  font-size: 18px;
  color: white;
  display: block;
  cursor: pointer;
}
.leftcolumn {
  background-color: white;
  float: left;
  width: 25%;
  text-align: center;
}
.fakeimg {
  padding: 0px;
  height: 300px;
}
.responsiveimg {
  width: 100%;
  height: auto;
}
.middlecolumn {
  float: left;
  background-color: white;
  width: 50%;
  text-align: center;
  padding: 25px;
}
.rightcolumn {
  float: left;
  background-color: white;
  width: 25%;
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  background-color: white;
  padding: 20px;
  text-align: center;
}

/* Responsive layout - when the screen is less than 600px wide, make the 3 columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .leftcolumn, .rightcolumn, .middlecolumn {   
    width: 100%;
    padding: 0;
  }
}
/* Responsive layout - when the screen is less than 600px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topnavbar a {
    float: none;
    width: 100%;
  }
}
/* Responsive layout - when the screen is less than 600px wide, make the navigation static */
@media screen and (max-width: 600px) {
  .topnavbar {
    position: static;
  }
}






  